.request{
    min-height: 680px;
    padding: 100px 0 108px 0;
    background: url('../../image/bg2.png') center center/cover no-repeat;
    &__title{
        font-weight: bold;
        font-size: 36px;
        color: white;
        span{
            display: flex;
            justify-content: flex-start;
        }
    }
    &__descr{
        font-weight: 300;
        font-size: 20px;
        color: white;
        margin-bottom: 36px;
        span{
            display: flex;
            justify-content: flex-start;
        }
    }
}
